#kubectl apply -f dep.yml file
#when you run your yaml file it will execute from top to bottom and left to right
apiVersion: apps/v1 #apps/v1 is the version of the deployment api``
kind: Deployment #we are using deployment api
metadata:
  name: my-first-deployment #this is the name of the deployment 
  namespace: dev #specifying the namespace where deployment will be created
  labels:
    app: myapp #label should be provided in key value pair
spec: #we are specifying the spec of the deployment
  replicas: 3 #we are creating 3 replicas of the pod
  selector: #selector is to find which pod to manage
    matchLabels: #like an match ecpression
      app: myapp #all the three pod will be having this label
  template: #we are creating three pod all the three will run contaienr
    metadata: #so using template metadata we are defindin the metadata of the pod
      labels:
        app: myapp #all the three pod will be having this label
    spec: #specifying the spec of the pod
      containers:
      - name: myapp
        image: nginx
       
        ports:
        - containerPort: 80
#note : the spec.selector.matchLabels and spec.template.metadata.labels should be same otherwise deployment will not work
#it is like an map of key value pairs you can say it is like an match expression